<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="vjacademy.TestComponents.Listeners"></listener>
</listeners>
  <test name="Submit Order Test">
    <classes>
      <class name="vjacademy.tests.SubmitOrderTest"/>
     
    </classes>
  </test> <!-- Test -->
  <test name="Error Validation Tests">
    <classes>
      
      <class name="vjacademy.tests.ErrorValidationTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
